body {
  background: #000;
}

#container {
  border: solid 3px rgb(222, 82, 82);
  position: absolute;
  width: 1280px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
}
#loading-indicator{
  position: absolute;
  font-size: 50;
  font-weight: bold;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#start_btn {
  cursor: pointer;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000c8;

  border: 5px solid;
  border-radius: 1em;

  font: inherit;
  font-weight: bold;
  line-height: 1;
  margin: 0.5em;
  padding: 0.5em 2em;

  color: #00a2ff;
  transition: 0.25s;

  &:hover {
    border-color: #00a2ff;
    color: #fff;
    box-shadow: 0 0.5em 0.5em -0.4em #00a2ff;
    transform: translate(-50%, -52%);
  }
}
